*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pocket Monk", sans-serif;
}

body {
    background-color: #191919;
    
}

.container {
    width: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}

#card {
    position: relative;
    margin: 30px auto;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 3px 30px silver;
    border-radius: 30px;
}
#card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 600;
}

.poke-name {
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span, .types span{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.types span{
    padding: 5px 20px;

}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.stats p{
    color: #404060;
}

#btn {
    display: block;
    padding: 15px 60px;
    font-size: 30px;
    background-color:  blue;
    color: black;
    position: relative;
    margin: 30px auto;
    border: none;
    border-radius: 50px;
    letter-spacing: 2px;
    box-shadow: 0 3px 20px gold;
}

.header {
    letter-spacing: .2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px auto;
    color:white ;
    
    border: none;
    border-radius: 50px;
    background-color: blue;
    width: 740px;
    position: relative;
    box-shadow: 0 3px 20px red;
    font-family: "Pokemon GB";
    font-size: 55px;
    
    
    
    
    
    
   
}







